.cris{
    height: calc(600rem / 16);
    background-color: black;
    color: white;
    background-image: url("crisauge.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center top;
    display: flex;
    
}

h1{
    margin: auto;
    background-color: gainsboro;
    color: black;
    padding: 1rem 2rem;
}

.cris2{
    height: calc(2000rem / 16);
    background-color: black;
    color: white;
    background-image: url("crisauge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}